@import '../../../styles/mixins.less';

.EventDetails {
  .EventPersona {
    .propertySubPanel();

    .header {
      .propertySubHeader();
    }

    .noCharacters {
      color: var(--warning-message-color);
      font-size: 12px;
    }

    .contentWrapper {
      padding: 10px;

      // TODO: combine with JumpSelect
      :global .ant-divider {
        margin: 0px !important;
        margin-bottom: 4px !important;

        :local h2 {
          margin: 0px;
          font-size: 12px;
          text-transform: uppercase;
          color: hsl(0, 0%, 50%);
        }
      }

      .selectWrapper {
        display: flex;

        :global .ant-select {
          width: 100%;
          margin-bottom: 4px !important;
          flex-grow: 1;
        }

        :global .ant-btn {
          margin: 0px;
        }

        .rollBackBtn {
          width: 32px !important;
          margin: 0px;
          padding: 0px;
          border: none;
          flex-grow: 0;
        }
      }
    }
  }

  .EventInput {
    .propertySubPanel();

    .header {
      .propertySubHeader();
    }
  }

  .EventEndToggle {
    margin-top: 10px;
  }

  .eventAudioWrapper {
    .propertySubPanel();
    border-bottom: none;

    .header {
      .propertySubHeader();
    }

    .EventAudio {
      padding-top: 0px;
    }
  }
}

.EventChoicePresentation {
  margin-top: 8px;
}
