@import '../../styles/mixins.less';

.EventType {
  .propertySubPanel();

  .header {
    .propertySubHeader();
  }

  .select {
    width: 100%;
    font-size: 12px;

    :global .ant-select-selector {
      border: none !important;
      border-radius: 0px !important;
    }
  }
}
